#titleText{
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    padding: 40px;
}

#page_header{
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    padding:40px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: plum;
}

ul li{
    float: left;
}

ul li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #111111
}

article{
    border: 2px black;
    padding: 1em;
}